<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp">

<p>Try to change the names.</p>

<div  ng-controller="myCtrl">
  Depart
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}} <br />
Firstname:{{firstName}} <br />
Department: {{department}}
App ID: {{app_id}} <br />
</div>
<br>---------------------------------------
<div  ng-controller="studentCtrl">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}<br />
Firstname:{{firstName}} <br />
Department: {{department}} <br />
App ID: {{app_id}}
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $rootScope) {
    $scope.firstName= "Hardi";
    $scope.lastName= "Desai";
    $rootScope.app_id = 1;
});

app.controller('studentCtrl', function($scope) {
    $scope.firstName= "Hardi";
    $scope.lastName= "Patel";
    $scope.department= "Test";
});
</script>


</body>
</html>
