<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="name='Hardi';last_name='Desai'">
<!-- <div data-ng-app=""> -->
<!-- <div data-ng-app="" ng-init="name='Hardi';last_name='Anand'"> -->

<p>Input something in the input box:</p>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
<!-- <p>Name : <input type="text" ng-model="student.name" placeholder="Enter name here"></p> -->
<p>Last Name : <input type="text" ng-model="last_name" placeholder="Enter lastname here"></p>
<!-- <p>Last Name : <input type="text" ng-model="student.last_name" placeholder="Enter lastname here"></p> -->
  <h1 ng-bind="name + ' ' + last_name"></h1>
 <!-- <h1 ng-bind="student.name + ' ' + student.last_name"></h1> -->

<!--  <h1>Write Here:{{name}} {{last_name}}</h1> -->


</div>

</body>
</html>
